<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Demo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <%= render partial: 'common/header' %>
  </header>

  <body>
    <div class='container-fluid'>
      <%= yield %>
      <br>
      <br>
    </div>
  </body>

  <footer>
    <%#= render partial: 'common/footer' %>
  </footer>

</html>